.vs/LinkListDemo/DesignTimeBuild/.dtbcache
.vs/LinkListDemo/v16/Server/sqlite3/db.lock
.vs/LinkListDemo/v16/Server/sqlite3/storage.ide
.vs/LinkListDemo/v16/Server/sqlite3/storage.ide-shm
.vs/LinkListDemo/v16/Server/sqlite3/storage.ide-wal
.vs/LinkListDemo/v16/.suo
bin/Debug/netcoreapp3.1/LinkListDemo.deps.json
bin/Debug/netcoreapp3.1/LinkListDemo.dll
bin/Debug/netcoreapp3.1/LinkListDemo.exe
bin/Debug/netcoreapp3.1/LinkListDemo.pdb
bin/Debug/netcoreapp3.1/LinkListDemo.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/LinkListDemo.runtimeconfig.json
obj/Debug/netcoreapp3.1/LinkListDemo.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/LinkListDemo.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/LinkListDemo.assets.cache
obj/Debug/netcoreapp3.1/LinkListDemo.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/LinkListDemo.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/LinkListDemo.dll
obj/Debug/netcoreapp3.1/LinkListDemo.exe
obj/Debug/netcoreapp3.1/LinkListDemo.pdb
obj/LinkListDemo.csproj.nuget.cache
obj/LinkListDemo.csproj.nuget.dgspec.json
obj/LinkListDemo.csproj.nuget.g.props
obj/LinkListDemo.csproj.nuget.g.targets
obj/project.assets.json
